.sidebar{
  width:240px;
  height:100vh;
  background:white;
  border-right:1px solid #e5e7eb;
  display:flex;
  flex-direction:column;
  /* justify-content:space-between; */
}

/* Header */

.sidebar-header{
  padding:24px;
}

.sidebar-header h2{
  color:#2563eb;
  font-size:20px;
  font-weight:700;
}

.sidebar-header p{
  font-size:13px;
  color:#6b7280;
  margin-top:4px;
}

/* Menu */

.sidebar-menu{
  display:flex;
  flex-direction:column;
  gap:6px;
  padding:10px;
}

.menu-item{
  display:flex;
  align-items:center;
  gap:12px;
  padding:12px 16px;
  border-radius:8px;
  cursor:pointer;
  color:#374151;
  font-size:14px;
  text-decoration:none;
}

.menu-item:hover{
  background:#f3f4f6;
}

/* active route */

.menu-item.active{
  background:#e8efff;
  color:#2563eb;
  font-weight:600;
}

.icon{
  font-size:16px;
}

/* Footer */

.sidebar-footer{
  display:flex;
  align-items:center;
  gap:10px;
  padding:20px;
  color:#ef4444;
  font-weight:500;
  cursor:pointer;
  border-top:1px solid #eee;
  position: absolute;
  bottom: 10px;
  text-decoration:none;

}

.logout-icon{
  font-size:16px;
}

/* Responsive */

@media (max-width:768px){

.sidebar{
  width:200px;
}

}