.admin-container{
  display:flex;
}

.main-section{
  flex:1;
}

.content{
  padding:30px 40px;
  background:#f9fafb;
  min-height:100vh;
}

.subtitle{
  color:#6b7280;
  margin-bottom:20px;
}

/* TABLE */

.table-container{
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 20px rgba(0,0,0,0.05);
  overflow-x:auto;
}

table{
  width:100%;
  border-collapse:collapse;
}

thead{
  background:#f3f4f6;
}

th, td{
  padding:14px;
  text-align:left;
  font-size:14px;
}

th{
  color:#374151;
}

tbody tr{
  border-top:1px solid #eee;
}

tbody tr:hover{
  background:#fafafa;
}

/* ACTION BUTTONS */

.actions{
  display:flex;
  gap:10px;
}

.edit-btn{
  background:#2563eb;
  color:white;
  border:none;
  padding:6px 12px;
  border-radius:6px;
  cursor:pointer;
}

.delete-btn{
  background:#ef4444;
  color:white;
  border:none;
  padding:6px 12px;
  border-radius:6px;
  cursor:pointer;
}

.view-btn{
  background:#10b981;
  color:white;
  border:none;
  padding:6px 12px;
  border-radius:6px;
  cursor:pointer;
}

.edit-btn:hover{
  background:#1d4ed8;
}

.delete-btn:hover{
  background:#dc2626;
}

.view-btn:hover{
  background:#059669;
}